.pages {
    .pages-wrap {
        gap: 10px;

        div {
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            border: none;
            background: #FFFFFF;
            
            a {
                width: 10px;
                height: 25px;
                border: none;
            }

            &:hover{
                border-radius: 6px;
                background: #EAEAEA;
                transition: 0.4s;
            }

            .active-page{
                border-radius: 6px;
                color: #FFF;
                background: #3A3A3A;
            }
        }
        div:first-of-type {
            a {
                transform: rotate(180deg);
            }
        }

        div:nth-child(2) {
            a {
                transform: rotate(180deg);
            }
        }

        div:nth-child(2), div:nth-last-child(2) {
            a {
                background-image: url("./../assets/pagination-icons/right-arrow.svg");
                background-size: 20%;
                background-repeat: no-repeat;
                background-position: center;
                border: none;
            }

            span {
                display: none;
            }
        }

        div:first-of-type, div:last-of-type {
            a {
                background-image: url("./../assets/pagination-icons/right-arrow-double.svg");
                background-size: 20%;
                background-repeat: no-repeat;
                background-position: center;
                border: none;
            }

            span {
                display: none;
            }
        }
    }
}