$menuHeigth: 75px;
$page-gap: 70px;
$color: rgb(219, 219, 218);
$addColor: rgb(99, 230, 175);
$redColor: #F54F45;
$redColorHover: #f72e24;


*{
    margin: 0px;
    padding: 0px;
}

.page-wrap{
    margin-top: $menuHeigth + 30px;
    padding-bottom: 50px;
}

@mixin page-row{
    padding: 0px 50px;
    margin-top: 40px;
}

@mixin grid-left{
    display: grid;
    justify-content: flex-end;
}

@mixin grid-center{
    display: grid;
    justify-content: center;
}

@mixin grid-left{
    display: grid;
    justify-content: flex-start;
}

@mixin button{ 
    padding: 10px 15px;
    background: $redColor;
    border: 0px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 18px;

    &:hover{
        transition: 0.4s;
        background: $redColorHover;
    }
}

@mixin link{
    text-decoration: none;
}