$menuHeigth: 60px;


*{
    margin: 0px;
    padding: 0px;
}

.page-wrap{
    margin-top: $menuHeigth + 20px;
}

@mixin page-row{
    padding: 0px 50px;
    margin-top: 20px;
}

@mixin grid-left{
    display: grid;
    justify-content: flex-start;
}

@mixin grid-center{
    display: grid;
    justify-content: center;
}

@mixin grid-left{
    display: grid;
    justify-content: flex-end;
}