$menuHeigth: 60px;
$color: rgb(219, 219, 218);
$addColor: rgb(99, 230, 175);


*{
    margin: 0px;
    padding: 0px;
}

.page-wrap{
    margin-top: $menuHeigth + 30px;
}

@mixin page-row{
    padding: 0px 50px;
    margin-top: 40px;
}

@mixin grid-left{
    display: grid;
    justify-content: flex-start;
}

@mixin grid-center{
    display: grid;
    justify-content: center;
}

@mixin grid-left{
    display: grid;
    justify-content: flex-end;
}

@mixin button{ 
    padding: 10px 15px;
    background: $addColor;
    border: 0px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;

    &:hover{
        transition: 0.4s;
        background: rgb(48, 197, 135);
    }
}